<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <context-param>
    <param-name>upload folder</param-name>
    <param-value>attachment</param-value>
  </context-param>
  <context-param>
    <param-name>allowed file type</param-name>
    <param-value>.gif,.jpg,.bmp</param-value>
  </context-param>

  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.xiaoyixiong.servlet.FirstServlet</servlet-class>
    <init-param>
      <param-name>message</param-name>
      <param-value>welcome to FirstServlet</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.xiaoyixiong.servlet.RequestServlet</servlet-class>
    <init-param>
      <param-name>message</param-name>
      <param-value>welcome to RequestServlet</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>IdentityServlet</servlet-name>
    <servlet-class>com.xiaoyixiong.servlet.IdentityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>com.xiaoyixiong.servlet.InitParamServlet</servlet-class>
    <init-param>
      <param-name>xiaoyixiong</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ContextParamServlet</servlet-name>
    <servlet-class>com.xiaoyixiong.servlet.ContextParamServlet</servlet-class>
    <init-param>
      <param-name>message</param-name>
      <param-value>hello init-param</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/servlet/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/servlet/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdentityServlet</servlet-name>
    <url-pattern>/servlet/IdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/servlet/InitParamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextParamServlet</servlet-name>
    <url-pattern>/servlet/ContextParamServlet</url-pattern>
  </servlet-mapping>
</web-app>
